.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: $red;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: $blue;
  border-radius: 10px;
}

#home-title {
  color: $white;
  font-size: 3em;
  text-shadow: 1px 1px 7px $black;
}

#home-sub {
  color: $white;
  font-size: 1.5em;
  text-shadow: 1px 1px 7px $black;
}

.home_video {
    width: 100vw;
    height: 100vh;
    position: fixed;
    object-fit: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

.home-video-wrapper {
  display: flex;
  height: 90vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
