// Import page-specific CSS files here.
@import "home";

.tabs-underlined {
  display: flex;
  align-items: center;
}
.tabs-underlined {
  .tab-underlined {
    color: $blue;
    padding: 8px;
    margin: 8px 16px;
    opacity: .4;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    display: block;
  }
  .tab-underlined:hover {
    opacity: 0.5;
  }
  .tab-underlined.active {
    opacity: 1;
    border-bottom: 3px solid $blue;
  }
}

.container {
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-top:10px;
  width: 100vw;
  padding: 10px 20px;
}

a {
  color: $blue;
  transition: color 0.5s;
  text-decoration: none;

  &:hover {
    color: $red;
    text-decoration: none;
  }
}
