<div class="container" mt-3>
  <p style="font-size: 32px">Make a Rental Request</p>
    <%= render 'form'%>

    <div class="my-2">
        <%= link_to decks_path do %>
         <i class="fas fa-caret-square-left"></i>
    <% end %>
    </div>
</div>
