<div class="home-video-wrapper">
  <%= video_tag "magicvideo.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  <div class="container text-center">
    <h1 id="home-title"><strong>Your Decks Are Waiting</strong></h1>
    <p id="home-sub">More Magic than you could imagine. Play The Gathering like never before.</p>
  </div>
</div>
