.btn-ghost {
  color: $white;
  border: 1px solid $blue;
  padding: 8px 24px;
  border-radius: 25px;
  font-weight: lighter;
  opacity: 0.6;
  transition: background-color 1s ease;
}

.btn-ghost:hover {
  opacity: 1;
  background-color: $red;
  color: $black;
}

.btn-login {
  color: $white;
  background-color: $blue;
  border-color: $white;
  transition: 0.5s background-color;
  a {
    color: $blue;
  }
  &:hover {
    background-color: $red;
    border-color: $black;
  }

}

.btn-request {
  color: $black;
  background-color: $red;
  transition: background-color 0.5s;

  &:hover {
    color: $blue;
    border-color: $blue;
    background-color: $white;
  }
}

.btn-pending {
  background-color: $white;
  color: $black;
  border-color: $black;
  transition: color 0.5s;
  &:hover {
    color: $blue;
    border-color: $blue;
  }
}
