// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards";

.container {
  flex-direction: row;
  flex-wrap: wrap;
  background-color: $gray;
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
  padding: 20px;
}
