.navbar-lewagon {
  justify-content: space-between;
  background: $white;
  padding-top: 10px;

  ul > li {
    color: $black;
  }
}

.navbar-lewagon .nav-item-active {
  color: $black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
