.navbar-lewagon {
  justify-content: space-between;
  background: $white;
  padding-top: 10px;

  ul > li {
    color: $black;
  }
}

#nav-deckfinder {
  font-size: 24px;
}

.navbar-lewagon .nav-item-active {
  color: $black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-menu {
  padding: 0px;
}

.dropdown-item {
  line-height: 2;
  background-color: $blue;
  color: $white;
  transition: background-color 0.5s;
  &:hover {
    background-color: $red;
    color: $black;
  }
}
