.navbar-lewagon {
  justify-content: space-between;
  background: $gray;
  padding-top: 10px;

  a {
    color: $red;
  }

  ul > li {
    color: $red;
  }
}

.navbar-lewagon .nav-item-active {
  color: $red;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: $purple;
  &:hover {
  color: $red;
  }
}

.navbar-light .navbar-brand {
  font-size: 2rem;
  color: $purple;
  &:hover {
  color: $red;
  }
}
