<body>
<div class="container">
  <div class="row">
    <% @decks.each do |deck| %>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
          <p class="card-title"><%= deck.name %></h5>
          <p class="card-text"><%= deck.desc %></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </div>
  <% end %>
  </div>
</div>
</div>
</div>
</body>
